
.header-menu-box {
  display: flex;
  align-items: center;
  .header-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    line-height: 100%;
    margin: 0 10px;
    color: #999;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
