.slide {
  width: 100%;
  height: 100%;
  touch-action: none;
  transition: height 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  .slide-list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
