// index.less
.divider-box {
  border: none;
  height: 1px;
  margin: 16px 20px;
  background-color: rgba(#fff, 0.1);

  &.divider-type-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    height: auto;
    margin: 16px 0;

    .divider-text {
      padding: 0 8px;
      background-color: rgba(#fff, 0.1);
    }
  }

  &.divider-variant-dashed {
    border-style: dashed;
  }

  &.divider-variant-solid {
    border-style: solid;
  }

  &.divider-variant-dotted {
    border-style: dotted;
  }
}
